.seat {
    background-color: grey;
    color: white;
    margin: 3px;
    width: 44px;
}

.seatChosing {
    background-color: green;
}

.setBooked {
    background-color: red;
    cursor: pointer;
}